<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="text-align: center;">
            <h1><b>Message:</b></h1>
            <h2 style="margin: 17px 0 0;">
               User {{{name}}}({{{userId}}}) tried to post uncensored advertisement!
            </h2>
            <h1><b>Description:</b></h1>
            <h2>{{{text}}}</h2>
            <h1><b>Contacts:</b></h1>
            <h2>{{{contacts}}}</h2>
        </td>
    </tr>
</table>