<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="text-align: center;">
            <h2 style="margin: 17px 0 0;">
               User {{{userId}}} tried to post uncensored advertisement!
            </h2>
        </td>
    </tr>
</table>